<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="/admin" class="flex items-center py-4 px-2">
            <img src="https://picsum.photos/200" alt="Logo" class="h-8 rounded-full w-8 mr-1">
            <span class="font-semibold text-gray-600 text-lg">Admin Pannel</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-3">
          <a href="/admin" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Products</a>
          <a href="/admin/get-all-users" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Users</a>
          <a href="/admin/all-orders"
            class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Orders</a>
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 " x-show="!showMenu" fill="none"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu">
    <ul class="">
      <li class="active"><a href="/admin"
          class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Products</a></li>
      <li><a href="/admin/get-all-users" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">users</a></li>
      <li><a href="/admin/all-orders" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Orders</a></li>
      
      </div>

    </ul>
  </div>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>
</nav>