<div class="row">
    <div class="col-md-6 mt-auto mx-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center mb-3">Login</h2>
            <form action="/login" method="POST">
            {{#if loginErr}}
                <p class="error text-danger">{{loginErr}}</p>
            {{/if}}
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input class="form-control" placeholder="Email" type="email" name="Email" id="email">
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input class="form-control" placeholder="Password" type="password" name="Password" id="password">
                </div>
                <a href="/signup">Create new Account ?</a>
                <button class="btn btn-success float-end" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>