    <h1 class="text-center text-4xl font-bold mt-5">Order Success</h1>
    <div class="flex justify-center">
        <a href="/" class="px-5 py-2 bg-green-500 hover:bg-green-600 rounded text-white mt-5">View Orderd Products</a>
    </div>