<section>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <h1 class="text-center">Order Placed Sucesfully</h1>
            <a href="/orders" class="btn btn-success">View Orders</a>
        </div>
    </div>
</section>