<div class="row">
    <div class="col-md-6 mt-auto mx-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center mb-3">Signup</h2>
            <form action="/signup" method="POST">
                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input class="form-control" placeholder="Name" type="text" name="Name" id="name">
                </div>
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input class="form-control" placeholder="Email" type="email" name="Email" id="email">
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input class="form-control" placeholder="Password" type="password" name="Password" id="password">
                </div>
                <a href="/login">Already have an account ?</a>
                <button class="btn btn-success float-end" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>