<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- FONTAWESOME --}}
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    {{!-- FAVICON --}}
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">

    {{!-- CSS --}}
    <link rel="stylesheet" href="/stylesheets/style.css">

    {{!-- jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- FONT --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <title>Shopping Cart</title>
</head>

<body>
    {{!-- Nav Bar --}}
    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}

    {{!-- The body --}}
    <div style="font-family: 'Poppins';">
        {{{body}}}
    </div>

    {{!-- Connecting script.js --}}
    <script src="/javascripts/script.js"></script>
</body>

</html>